@use 'variaveis'as *;

.mvv { 
  width: 100%;
  min-height: 50vh;
  height: auto;
  padding: 24px 0 48px 0;

  &__textos { 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 48px 0 56px 0;

    &__titulo { 
      width: 80%;
      min-width: 280px;
      margin: 0 auto;
      height: auto;
      font-family: $font-titulo;
      font-size: $font-size-titulo-2;
      line-height: $font-height-titulo-2;
      font-weight: $font-weight-titulo-2;
      color: $cor-black;
      text-align: center;
      cursor: default;

      span { 

        &:hover {
          color: $cor-mae-principal;
        }

        @media (max-width: 840px) {
          color: $cor-mae-principal;
        }
      }
    }

    &__paragrafo { 
      width: 60%;
      min-width: 260px;
      margin: 0 auto;
      height: auto;
      font-size: $font-size-texto-3;
      line-height: $font-height-texto-3;
      color: $cor-black;

      @media (max-width: 840px) {
        text-align: center;
      }
    }
  }


  &__content { 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    &__mv { 
      width: 90%;
      min-width: 300px;
      height: auto;
      display: flex;
      padding: 24px 0;
      
      &__missao, &__visao { 
        width: 45%;
        min-width: 280px;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &__titulo { 
          width: 100%;
          height: auto;
          font-family: $font-titulo;
          font-size: $font-size-titulo-2;
          line-height: $font-height-titulo-2;
          font-weight: $font-weight-titulo-2;
          text-align: center;
          color: $cor-black;

          span {
            color: $cor-mae-principal;
          }
        }

        &__paragrafo { 
          width: 100%;
          height: auto;
          text-align: center;
          font-size: $font-size-texto-3;
          line-height: $font-height-texto-3;
          color: $cor-black;
        }
      }

      @media (max-width: 840px) {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        
      }
    }

    &__valores { 
      width: 90%;
      min-width: 300px;
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 16px;

      &__titulo { 
        width: 100%;
        height: auto;
        font-family: $font-titulo;
        font-size: $font-size-titulo-2;
        line-height: $font-height-titulo-2;
        font-weight: $font-weight-titulo-2; 
        text-align: center;
        color: $cor-black;
        margin-bottom: 32px;

        span {
          color: $cor-mae-principal;
        }
      }

      &__dl {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 24px;

        @media (max-width: 1000px) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 666px) {
          grid-template-columns: 1fr;
        }
        div {
          width: 280px;
          height: auto;
        }

        &__dt { 
          width: 280px;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
          margin-bottom: 16px;
          color: $cor-black;
          font-size: $font-size-titulo-1;
          line-height: $font-height-titulo-1;
          font-weight: $font-weight-titulo-1;
          font-family: $font-titulo;

          img {
            width: 24px;
            height: auto;
          }
        }

        &__dd { 
          width: 280px;
          height: auto;
          font-size: $font-size-texto-3;
          line-height: $font-height-texto-3;
          font-family: $font-texto;
        }

      }
    }
  }


}