@use 'variaveis'as *;

.main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  clip-path: polygon(0 120px, 100% 0%, 100% 100%, 0 100%);
  position: relative;
  margin-top: 100vh;
  background-color: $cor-white;
  z-index: 2;
  padding: 64px 0 48px 0;

}