@use 'variaveis'as *;

.produtos { 
  width: 100%;
  height: auto;
  min-height: 100vh;
  clip-path: polygon(100% calc(100% - 120px), 100% 0%, 0 120px, 0% 100%);
  background-color: $cor-black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 72px;

  @media (max-width: 840px) { 
    align-self: start;
    justify-content: center;
  }

  &__container {
    width: 60%;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;

    @media (max-width: 840px) { 
      padding-top: 136px;
      padding-bottom: 475px;
    }


    &__titulo { 
      font-family: $font-titulo;
      width: 90%;
      margin: 0 auto;
      font-size: $font-size-titulo-2;
      font-weight: $font-weight-titulo-2;
      line-height: $font-height-titulo-2;
      text-align: left;
      color: $cor-white;

    }

    &__paragrafo { 
      width: 80%;
      margin: 0 auto;
      font-size: $font-size-texto-2;
      line-height: $font-height-texto-2;
      text-align: left;
      color: $cor-white;

    }
  }

  &__bg { 
    width: 30%;
    min-width: 300px;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
}