@use 'variaveis' as *;

.servicos { 
  position: relative;
  // top: -120px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $cor-black;
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  clip-path: polygon(0 120px, 0% 100%, 100% calc(100% - 120px), 100% 0%);
  margin: 0;
  padding-bottom: 120px;
  z-index: 2;

  &__head { 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    padding-top: 80px;
    gap: 24px;

    @media (max-width: 840px) { 
      flex-direction: column-reverse;
    }

    &__titulo { 
      width: 30%;
      min-width: 300px;
      margin: 0 auto;
      font-family: $font-titulo;
      font-size: $font-size-titulo-3;
      line-height: $font-height-titulo-3;
      font-weight: $font-weight-titulo-3;
      color: $cor-white;
      cursor: default;

      @media (max-width: 840px) { 
        font-size: $font-size-titulo-3;
        line-height: $font-height-titulo-3;
        text-align: center;

        br {
          display: none;
        }
      }

      span {
        color: $cor-energia-principal;
      }
    }

    &__logo { 
      width: 40%;
      margin: 0 auto;
      min-width: 280px;
      height: auto;
    }
  }

  &__content { 
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    gap: 24px;

    // margin-top: 24px;
    &__textos {
      width: 40%;
      min-width: 300px;
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 16px;


      &__paragrafo { 
        width: 90%;
        min-width: 280px;
        margin: 0 auto;
        font-family: $font-texto;
        font-size: $font-size-texto-3;
        line-height: $font-height-texto-3;
        color: $cor-white;
        // text-align: right;
      }
    }

    &__galeria { 
      width: 40%;
      min-width: 300px;
      margin: 0 auto;
      height: auto;
    }

    @media (max-width: 1150px) {
      flex-direction: column;
      align-items: center;

      &__textos { 
        width: 90%;
        min-width: 300px;
      }

      &__galeria { 
        width: 90%;
        min-width: 300px;
        margin: 0 auto;
        height: auto;
      }
    }
  }
  &__cta { 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 40px 0;

    &__texto { 
      width: 40%;
      min-width: 280px;
      margin: 0 auto;
      font-size: $font-size-texto-3;
      line-height: $font-height-texto-3;
      color: $cor-white;
      cursor: default;
      text-align: center;
    }

    &__btn { 
      width: 200px;
      height: 48px;
      font-size: 16px;
      text-decoration: none;
      color: $cor-black;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $cor-energia-principal;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &:hover { 
        scale: 0.9;
        color: $cor-white;
        background-color: $cor-energia-2;
        transition: all 200ms ease-in-out alternate;
      }
    }
  }
}
