@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Fontes tipograficas 

$font-titulo: 'Lexend', serif;
$font-texto: 'Poppins', serif;

//Variaveis global de cores

$cor-black: #1A2228;
$cor-white: #F4F1F8;

//variaveis de cor especificas:

//Marca Mãe:

$cor-mae-principal: #8B0625;

//Energia Solar:

$cor-energia-principal: #FFA51E;

// Health

$cor-health-principal: #F76861;

// Instalar

$cor-instalar-principal: #06AAFC;

// Inteligência Emocional

$cor-inteligencia-principal: #00D19F;

// Treinamentos

$cor-treinamentos-principal: #FF5500;

// wise

$cor-wise-principal: #8821B0;