@use 'variaveis'as *;

.cta {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $cor-white;
  padding: 144px 0 16px 0;
  clip-path: polygon(0 120px, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  top: -120px;
  overflow: hidden;
  z-index: 1;

  &__titulo {
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
    font-family: $font-titulo;
    font-size: $font-size-titulo-3;
    line-height: $font-height-titulo-3;
    font-weight: $font-weight-titulo-3;
    color: $cor-black;
    text-align: center;
    cursor: default;
    margin-bottom: 32px;

    span {
      color: $cor-energia-principal;
    }

    @media (max-width: 710px) {
      br {
        display: none;
      }
    }
  }

  &__texto {
    width: 60%;
    min-width: 280px;
    margin: 0 auto;
    font-size: $font-size-texto-3;
    line-height: $font-height-texto-3;
    color: $cor-black;
    text-align: center;
  }

  &__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 64px;

    &__img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
      clip-path: polygon(100% 0, 0 10%, 0% 100%, 100% 90%);
    }

    &__box {
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      gap: 24px;

      &__textos {
        width: 40%;
        min-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        &__titulo {
          width: 100%;
          height: auto;
          font-family: $font-titulo;
          font-size: $font-size-titulo-2;
          line-height: $font-height-titulo-2;
          font-weight: $font-weight-titulo-2;
          color: $cor-black;
          text-align: right;
          cursor: default;

          span {
            color: $cor-energia-principal;
          }
        }

        &__lista {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          gap: 16px;

          &__item {
            width: 100%;
            height: auto;
            font-size: $font-size-texto-1;
            line-height: $font-height-texto-1;
            color: $cor-black;
            text-align: right;
            cursor: default;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            gap: 8px;

            span {
              color: $cor-energia-principal;
            }
          }
        }
      }

      &__2 {
        width: 40%;
        min-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;


        &__video {
          width: 100%;
          position: relative;
          min-width: 300px;
          height: auto;
          border-radius: 16px;
          border: 5px solid $cor-energia-principal;
          z-index: 3;
          pointer-events: none;
        }

        &__btn {
          width: 220px;
          height: 48px;
          font-size: 16px;
          text-decoration: none;
          color: $cor-white;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $cor-energia-principal;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);

          &:hover {
            scale: 0.9;
            background-color: $cor-black;
            color: $cor-energia-principal;
            box-shadow: none;
            transition: all 200ms ease-in-out alternate;

          }
        }

      }



      @media (max-width: 840px) {
        flex-direction: column;
        align-items: center;

        &__textos {

          &__titulo {
            text-align: center;

            br {
              display: none;
            }
          }

          &__lista {
            align-items: center;

            &__item {
              flex-direction: row;
            }
          }
        }
      }
    }
  }

  &__financiamento {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;

    &__titulo {
      width: 80%;
      min-width: 300px;
      margin: 0 auto;
      font-family: $font-titulo;
      font-size: $font-size-titulo-2;
      line-height: $font-height-titulo-2;
      font-weight: $font-weight-titulo-2;
      color: $cor-black;
      text-align: center;
      cursor: default;

      span {
        color: $cor-energia-principal;
      }

      @media (max-width: 840px) {
        br {
          display: none;
        }

      }
    }

    &__bancos {
      width: 100%;
      height: 128px;
      // background-color: $cor-energia-principal;
      // clip-path: polygon(100% 0, 0 10%, 0% 100%, 100% 90%);
    }

    &__paragrafo {
      width: 80%;
      min-width: 280px;
      margin: 0 auto;
      font-family: $font-texto;
      font-size: $font-size-texto-3;
      line-height: $font-height-texto-3;
      color: $cor-black;
      text-align: flex-start;
    }

    &__subtitulo {
      width: 80%;
      min-width: 300px;
      margin: 0 auto;
      font-family: $font-titulo;
      font-size: $font-size-titulo-1;
      line-height: $font-height-titulo-1;
      font-weight: $font-weight-titulo-1;
      color: $cor-black;
      text-align: center;
    }


    &__logos {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 24px;
      margin-top: 32px;

      &__img {
        width: auto;
        height: clamp(2.5rem, 1.2308rem + 5.641vw, 8rem);
        object-fit: cover;
        object-position: center;
        cursor: pointer;

        &:hover {
          scale: 0.9;
          transition: all 200ms ease-in-out alternate;
        }
      }

    }

  }

}

.modal {
  position: relative;
  width: 80%;
  min-width: 300px;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 16px;
  border: solid 6px $cor-energia-principal;
  outline: none;
  padding: 20px;
  background-color: $cor-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  gap: 24px;

  &__btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background-color: $cor-white;
    outline: none;
    border: 3px solid $cor-mae-principal;
    border-radius: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $cor-mae-principal;
    font-weight: 600;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    z-index: 5;

    &:hover {
      scale: 0.9;
      box-shadow: none;
      transition: all 200ms ease-in-out;
    }
  }

  &__box1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 24px;

    &__titulo {
      width: 80%;
      min-width: 280px;
      margin: 0 auto;
      text-align: center;
      font-family: $font-titulo;
      font-size: $font-size-titulo-2;
      line-height: $font-height-titulo-2;
      font-weight: $font-weight-titulo-2;
      color: $cor-black;
      cursor: default;

      span {

        &:hover {
          color: $cor-energia-principal;
          transition: all 200ms ease-in-out;

        }

        @media (max-width: 840px) {
          color: $cor-energia-principal;
        }
      }
    }

    &__subtitulo {
      width: 80%;
      min-width: 260px;
      margin: 0 auto;
      text-align: center;
      font-family: $font-titulo;
      font-size: $font-size-texto-1;
      line-height: $font-height-texto-1;
      font-weight: 500;
      color: $cor-black;

      span {
        color: $cor-energia-principal;
      }

    }

    &__form {
      width: clamp(15rem, 12.375rem + 13.125vw, 28.125rem);
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      &__input {
        width: clamp(15rem, 12.375rem + 13.125vw, 28.125rem);
        height: 32px;
        border-radius: 8px;
        outline: none;
        border: 5px solid $cor-energia-principal;
        box-shadow: -5px 5px $cor-energia-principal;
        padding: 8px 16px;
        font-family: $font-texto;
        font-size: 16px;
        font-weight: 500;
        color: $cor-black;

        &::placeholder {
          font-size: 16px;
          font-weight: 500;
          color: $cor-black;
        }

        &:focus {
          border: 3px solid $cor-energia-2;
          box-shadow: -3px 3px $cor-energia-2;
        }
      }

      &__btnBox {
        width: clamp(15rem, 12.375rem + 13.125vw, 28.125rem);
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;

        &__btn {
          width: 110px;
          height: 32px;
          outline: none;
          border: none;
          background-color: $cor-energia-principal;
          color: $cor-white;
          font-weight: 600;
          border-radius: 8px;
          cursor: pointer;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

          &:hover {
            scale: 0.9;
            background-color: $cor-black;
            color: $cor-energia-principal;
            box-shadow: none;
            transition: all 200ms ease-in-out;
          }
        }

        &__texto {
          width: 100%;
          height: auto;
          font-size: 10px;
          line-height: 12px;
          font-weight: 500;
          color: $cor-black;
        }
      }
    }
  }

  &__box2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 36px;
    gap: 24px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;


    &__cabecalho {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &__titulo {
        font-family: $font-titulo;
        font-size: $font-size-titulo-2;
        font-weight: $font-weight-titulo-2;
        line-height: $font-height-titulo-2;
        color: $cor-black;
        text-align: center;

        span {
          color: $cor-energia-principal;
        }
      }

      &__texto {
        font-size: $font-size-texto-3;
        line-height: $font-height-texto-3;
        text-align: center;
        color: $cor-black;

        span {
          color: $cor-energia-principal;
          font-weight: 600;
        }
      }
    }


    &__resultado {
      width: 100%;
      min-width: 280px;
      margin: 0 auto;
      height: auto;
      display: flex;
      gap: 24px;
      align-items: flex-start;
      justify-content: center;
      padding: 20px;
      margin-left: -20px;

      &__box { 
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // gap: 16px;

        &__titulo { 
          font-family: $font-titulo;
          font-size: $font-size-titulo-1;
          font-weight: $font-weight-titulo-1;
          line-height: $font-height-titulo-1;
          color: $cor-black;
          text-align: center;

        }

        &__texto {
          font-size: $font-size-texto-2;
          font-weight: 500;
          line-height: $font-height-texto-2;
          color: $cor-black;

          span {
            color: $cor-energia-2;
          }
        }

      }
      @media (max-width: 840px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__box {
          width: 100%;
          height: auto;
          align-items: center;
          justify-content: center;
          gap: 16px;
        }
      }
    }

    &__footer { 
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      &__texto {
        font-size: $font-size-texto-1;
        line-height: $font-height-texto-1;
        color: $cor-black;
        text-align: center;

        span {
          color: $cor-energia-2;
          font-weight: 500;
        }
      }

      &__btn {
        margin: 16px 0;
        width: 160px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $cor-energia-2;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: $cor-white;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
        
        &:hover {
          scale: 0.9;
          background-color: $cor-black;
          color: $cor-energia-principal;
          box-shadow: none;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}
