@use 'variaveis'as *;

.section { 
  width: 100%;
  height: auto;
  padding: 64px 0 48px 0;

  &__content { 
    width: 100%;
    height: auto;
    padding: 24px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 24px;

    &__left { 
      position: relative;
      width: auto;
      max-width: 50%;
      min-width: 280px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    

    &__titulo { 
      width: 100%;
      height: auto;
      font-family: $font-titulo;
      font-size: $font-size-titulo-2;
      line-height: $font-height-titulo-2;
      font-weight: $font-weight-titulo-2;
      color: $cor-black;

      span { 
        color: $cor-mae-principal;
      }      
    }

    &__foto { 
      width: 300px;
      height: auto;
    
    }
  }

    &__texto { 
      width: auto;
      max-width: 50%;
      min-width: 280px;        
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 56px;

      &__paragrafo { 
        width: 100%;
        font-size: $font-size-texto-3;
        line-height: $font-height-texto-3;
        color: $cor-black;
      }
    }
    @media (max-width: 840px) { 
      flex-direction: column;
      align-items: center;

      &__left { 
        flex-direction: column-reverse;
        align-items: center;
        gap: -10px;
        height: auto;

        &__foto { 
          position: static;
          width: 80%;
          height: auto;
        }
      }

      &__texto { 
        padding-top: 16px;
      }

    }
  }

}