@use 'variaveis'as *;

.essencia {
  width: 100%;
  height: auto;
  min-height: 80vh;
  background-color: $cor-mae-principal;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 120px, 0% 100%, 100% calc(100% - 120px), 100% 0%);
  margin: 0;
  padding-bottom: 120px;


  &__content {
    width: 100%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 72px;

    &__titulo {
      width: 60%;
      min-width: 300px;
      height: auto;
      font-family: $font-titulo;
      font-size: $font-size-titulo-2;
      line-height: $font-height-titulo-2;
      color: $cor-white;
      font-weight: $font-weight-titulo-2;
      text-align: center;
      cursor: default;

      @media (max-width: 840px) {
        font-size: 32px;
        line-height: 40px;
      }

      span {

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      padding: 32px;
      margin-top: 32px;

      &__img {
        width: 30%;
        min-width: 300px;
        height: auto;
        position: relative;

        &__img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
          object-fit: cover;
        }

        &__selo {
          width: 20%;
          height: auto;
          min-width: 64px;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-50%, -50%);
          pointer-events: none;
        }
      }

      &__texto {
        width: 50%;
        min-width: 280px;
        height: auto;
        color: $cor-white;
        font-size: $font-size-texto-3;
        line-height: $font-height-texto-3;
        text-align: left;
      }

      @media (max-width: 840px) {
        flex-direction: column;
        // font-size: 16px;
        gap: 16px;

        &__text {
          text-align: center;
          line-height: 20px;
          font-size: 16px;
        }
      }
    }

    &__btn {
      width: 200px;
      height: 56px;
      background-color: $cor-white;
      outline: none;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 700;
      color: $cor-mae-principal;
      cursor: pointer;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

      &:hover {
        background-color: $cor-black;
        color: $cor-white;
        scale: 0.9;
        box-shadow: none;
        transition: all 300ms ease-in-out;

      }
    }
  }

  &__detalhe {
    clip-path: polygon(0 90%, 0% 100%, 100% 100%, 100% 0);
    width: 100%;
    height: 120px;
    background-color: $cor-white;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
