@use 'variaveis'as *;

.about { 
  width: 100%;
  height: auto;

  &__content { 
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 32px;
    gap: 24px;

    @media (max-width: 840px) { 
      flex-direction: column;
      align-items: center;
    }

    &__img { 
      width: 30%;
      // margin: 0 auto;
      min-width: 280px;
      height: auto;
      border-radius: 8px;
      box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25);
    }

    &__textos { 
      width: 50%;
      min-width: 280px;
      // margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;

      &__titulo { 
        width: 100%;
        min-width: 280px;
        // margin: 0 auto;
        font-family: $font-titulo;
        font-size: $font-size-titulo-1;
        line-height: $font-height-titulo-1;
        font-weight: $font-weight-titulo-1;
        color: $cor-white;
        cursor: default;
      }

      &__paragrafo { 
        width: 100%;
        min-width: 280px;
        // margin: 0 auto;
        font-size: $font-size-texto-2;
        line-height: $font-height-texto-2;
        color: $cor-white;
        cursor: default;
      }

    }
    
  }
}