@use 'variaveis'as *;

.royal { 
  width: 100%;
  height: auto;
  min-height: 60vh;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  

  @media (max-width: 840px) { 
    gap: 24px;
  }

  &__titulo { 
    width: 100%;
    height: auto;
    font-family: $font-titulo;
    font-size: $font-size-titulo-1;
    font-weight: $font-weight-titulo-1;
    line-height: $font-height-titulo-1;
    text-align: center;
    color: $cor-black;
    cursor: default;

    span {
      
      color: $cor-health-principal;

    }
  }

  &__logo { 
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__tipo {
      width: clamp(15rem, 10.9615rem + 17.9487vw, 32.5rem);
      height: auto;
      object-fit: contain;
      object-position: center;
      transform: translateX(200%);
      opacity: 0;
    }

    &__iso { 
      width: clamp(2.5rem, 1.8221rem + 3.0128vw, 5.4375rem);
      height: auto;
      object-fit: contain;
      object-position: center;
      transform: translateX(-200%);
      opacity: 0;
      rotate: -359deg;
    }
  }

  &__apresentacao { 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    transform: translateY(200%);
    opacity: 0;

    &__titulo { 
      width: 80%;
      min-width: 300px;
      height: auto;
      font-family: $font-titulo;
      font-size: $font-size-titulo-1;
      font-weight: $font-weight-titulo-1;
      line-height: $font-height-titulo-1;
      text-align: center;
      color: $cor-black;
      cursor: default;
    }

    &__paragrafo { 
      width: 75%;
      min-width: 280px;
      height: auto;
      font-size: $font-size-texto-1;
      line-height: $font-height-texto-1;
      color: $cor-black;
      text-align: center;
      cursor: default;
    }
  }

  &__produtos { 
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin-top: 36px;

    &__item { 
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &__img { 
        width: 280px;
        margin: 0 auto;
        height: 158px;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
      }

      &__titulo { 
        width: 100%;
        height: auto;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        color: $cor-health-principal;
        cursor: default;
        margin-top: 24px;
      }
    }
  }

}